*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 500px;
    width: 800px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
}
.form h2{
    font-size: 3rem;
}
.box{
    padding: 12px;;
    width: 65%;
    margin: 12px;
    border: 1px solid black;
    border-radius: 20px;
}
#submit{
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}
#submit:hover{
    cursor: pointer;
    background-color: rgb(188, 97, 41);
}
.form a{
    text-decoration: none;
    margin-top: 20px;
}
